<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="1password" version="8.12.24" />
  <package id="1password8" version="8.12.24" />
  <package id="calibre" version="9.10.0" />
  <package id="chocolatey" version="2.7.3" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="claude" version="1.14271.0" />
  <package id="dropbox" version="256.4.3790" />
  <package id="InkScape" version="1.4.4" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="krita" version="5.3.2.1" />
  <package id="npiperelay" version="0.1.0" />
  <package id="paint.net" version="5.1.12" />
  <package id="zen-browser" version="1.21.3-b" />
</packages>